<h1>Bienvenue sur la page de visualisation</h1>

<div>
<div>
<h2>Production totale par jour </h2>
    <table>
        <thead>
            <tr>Day</tr>
            <tr>Energy totale </tr>
        </thead>
        <tbody>
            <% @day_productions.each do |d_p| %>
            <tr >
                <td> <%= d_p.day %></td>
                <td> <%= d_p.energy_total %></td>
                <td><%=link_to "Voir les détails", energy_show_path(d_p.day) %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>


<div>

    <h2><%= link_to "Importer des données csv", energy_new_path  %></h2>
</div>

